{
    "local": {
        "url": "http://localhost:3000/",
        "apiversion": "v2"
    },
    "staging": {
        "url": "https://localhost:3000",
        "apiversion": "/",
        "fullpath": "{{url}}{{apiversion}}"
    }
}